		
			<div class="jumbotron">
        <h1>Sinatra API</h1>
        <p class="lead">Sinatra API with Bootstrap ready for iOS</p>
        <a class="btn btn-large btn-success" href="http://intense-savannah-1870.herokuapp.com/sushi.json">API</a>
      </div>
		

    