<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Sinatra API</title>  
  </head>

  <body>
    <%= yield %>

    <footer>
      <p>
        
      </p>
    </footer>
  </body>
</html>